*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-size: cover;
	height: 100vh;
	background-image: url('../images/image3.jpg');
	box-sizing: border-box;
	font-family: sans-serif;
	background-position: center;
}
.menu-bar{
	background: rgb(0, 100, 0);
	text-align: center;
	background-color: lightblack;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: black;
}
.menu-bar ul li{
	width: 120px;
	margin: 4px;
	padding: 15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover{
	background: #2bab0d;
	border-radius: 3px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background: rgb(0, 100, 0);
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 8px;
}
